@model List<AppUser>
@{
    ViewData["Title"] = "index";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">User Table</h4>
                    <p class="card-description">
                         <a asp-controller="user" asp-action="create" >Add User </a>
                    </p>
                    <form asp-action="index">
                        <input name="search" type="text" /> <button type="submit">Search</button>

                    </form>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>FullName</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>Setting</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                               @foreach(var item in Model)
                                {
                                    <tr>
                                        <td>@item.FullName</td>
                                        <td>@item.UserName</td>
                                        <td>@item.Email</td>
                                        <td> 
                                            @if(User.Identity.Name!=item.UserName)
                                            {
                                                <a asp-controller="user" asp-action="delete" asp-route-id="@item.Id" class="btn btn-outline-danger "><i class="mdi mdi-delete"></i></a>
                                            }
                                   
                                            <a asp-controller="user" asp-action="update" asp-route-id="@item.Id"   class="btn btn-outline-warning"><i class="mdi mdi-table-edit"></i></a>
                                            <a asp-controller="user" asp-action="detail" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="mdi mdi-account-card-details"></i></a>
                                            <a asp-controller="role" asp-action="update" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="mdi mdi-table-edit"></i></a>
                                            </td>
                                    </tr>
                                }

                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>